@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}

.container{
    width: 55%;
    background: #fff;
    display: flex;
    align-content: flex-start;
    border-radius: 15px;
    margin: 0 auto;
    position: fixed;
    top: 22.5%;
    right: 22.5%;
}

/*ESTILOS DEL HEADER*/

header{
    width: 100%;
    overflow: hidden;
}
header img{
    width: 120%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

/*ESTILOS DE CONTENIDO*/

.contenido{
    padding: 5%;
    box-sizing: border-box;
    padding-bottom: 3%;
}
.contenido article{
    line-height: 2em;
}

.contenido article h1{
    font-weight: 600;
    font-size: 1.8em;
    margin-bottom: 3%;
    color:hsl(217, 19%, 35%) ;
}

.contenido article p{
    font-size: 1.2em;
    color: hsl(214, 17%, 51%);
    line-height: 1.4em;
}
/*ESTILOS DEL FOOTER*/
footer{
position: relative;
    box-sizing: border-box;
    margin-top: 4%;
}

footer picture{
    float: left;
    width: 10%;

}

footer picture img{
    width: 100%;
    border-radius: 100%;
}
footer span{
    color:hsl(217, 19%, 35%) ;
    font-weight: bold;
    top: 3px;
    position: absolute;
    margin-left: 10px;
}
footer span p{
    color:  hsl(214, 17%, 51%);
    font-weight: lighter;
}

#back{
    position: absolute;
    background: hsl(210, 46%, 95%);
    padding: 8px;
    right: 0;
    top: 10px;
    border-radius: 15px;
    cursor: pointer;
}

footer .box1 ul li svg path:hover{
    fill: rgba(0, 255, 255, 0.678);
}
/*ESTILOS DE LA SOCIAL NETWORKS BOX*/
.box1{
    width:40%;
    display: none;
}
.box1 ul{
    width: 150px;
    background: hsl(217, 28%, 34%);
    list-style: none;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 15px 25px 15px 25px;
    right: -80px;
    bottom: 15px;
    border-radius: 15px;
}

.box1 ul h1{
    padding-top: 3px;
    color:hsl(214, 17%, 51%);
    font-size: 0.85em;
    margin-right: 10px;
    margin-left: 0;
}
.box1 ul li{
    width: 12%;
    box-sizing: border-box;
    margin:0 auto;
    float: left;
    margin-bottom: -5px;
}

.box2{
    display: none;
    position: absolute;
    width: 0;
    border-top: 15px solid hsl(217, 28%, 34%);
    border-left:  15px solid transparent;
    border-right: 15px solid transparent;
    right: -2px;
    bottom: 0px;
}

